/* root containing all primary and secondry colors, font sizes used in this website  */
:root{
    --background-color: rgb(10, 44, 72);
    --small-color: rgb(248, 147, 31);
    --h1-font: ;
    --h2-font-size: ;
    --h2-font-size: ;
    --h4-font-size: ;
    --h5- 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* stylong for top section  */
#top{
    display: flex;
    flex-direction: row;
    position: relative;
}
.nav-bar{
    width: 100%;
    z-index: 1;
    
}
#nav-ul{
/* float: right; */
position: relative;
margin-left: 44em;
width: 60%;
/* background-color: red; */
}
#nav-ul li a{
    padding-left: 36px;
    list-style: none;
    text-decoration: none;
    color: var(--background-color);
    transition: all ease-in-out 0.5s;
}
#nav-ul li a:hover{
    color: var(--small-color);
}
/* elementor/header background image */
#top{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('images/image-banner-home4.jpg');
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor{
    position: absolute;
    top: 13em;
    margin: 50px;
}
.elementor-container{
    /* z-index: 1; */
    position: relative;
    /* top: 13em; */
    /* width: 60%; */
    /* background-color: red; */
}
.widget {
    width: 30%;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    padding-bottom: 5px;
    border-left: 2px solid var(--small-color);
    color: var(--small-color);
}
.main-head{
font-size: 3em;
text-transform: uppercase;
}
.ot-button a{
   text-decoration: none;
   color: #fff;
   background-color: var(--small-color);
   padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  transition: all ease-in 0.3s;
  position: absolute;
}
.ot-button a:hover{
    background-color: #1b1d21;
    color: #fff;
}